.bento {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    gap: 20px;
    padding: 12px;
    position: relative;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid #1CB698;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1)
}

.section-title {
    font-size: 3em;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;
}

.bento .frame, .bento .frame-3 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.bento .frame-2, .bento .frame-4, .bento-box {
    background-color: #e9e9e9;
    border-radius: 16px;
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 300px; /* Altura base unificada */
}

.bento-box .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(30, 35, 38, 0.8);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.bento-box .icon-tech img {
    width: 20px;
    margin: 3px;
}

.bento-box .title {
    color: #1CB698;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Righteous', sans-serif;
}

.bento-box:hover .filter {
    transform: translateY(-100%);
}

.bento-box video, .bento-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.bento-box:hover video, .bento-box:hover img {
    transform: scale(1.05);
}



/* Estilo del modal */
#modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

#modal-video, #modal-img {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1000px) {
    .bento {
        width: 85vw;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .bento .frame-3 {
        flex-direction: column;
    }

    .bento .frame-3 .bento-box {
        width: 100%;
        height: 300px;
    }

    .bento .frame-4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bento .frame-4 .bento-box {
        width: calc(50% - 10px);
        height: 250px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .bento {
        width: 90vw;
    }

    .bento .frame, .bento .frame-3 {
        flex-direction: column;
    }

    .bento .frame-2, .bento .frame-3 .bento-box {
        width: 100%;
        height: 300px; /* Ajusta esta altura según prefieras */
    }

    .bento .frame-4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bento .frame-4 .bento-box {
        width: calc(50% - 10px);
        height: 250px; /* Ajusta esta altura para que juntos se vean del tamaño de los otros proyectos */
    }
}

@media (max-width: 500px) {
    .bento {
        width: 95vw;
    }

    .bento .frame, .bento .frame-3, .bento .frame-4 {
        flex-direction: column;
    }

    .bento .frame-2, .bento .frame-4, .bento-box {
        width: 100%;
        height: 250px; /* Ajusta esta altura según prefieras */
    }

    .section-title {
        font-size: 2.5em;
    }
}