:root {
    --color-primario: #038C8C; /* Código de color en formato hexadecimal */
}

@keyframes slide{
    from{
        transform: translateX(0)
        ;
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes slide2{
    from{
        transform: translateX(-100%)
        ;
    }
    to{
        transform: translateX(0);
    }
}



.logos, .logos2 {
    overflow: hidden;
    padding: 30px 0;
    background: rgba(30,35,38,0.2);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid var(--color-primario);
    box-shadow: 3px 2px 5px #045c4a;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after,
.logos2:before,
.logos2:after {
    position: absolute;
    top: 0;
    width: 250px; /* Ancho del gradiente en pantallas grandes */
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before,
.logos2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0),#1e2326);
}

.logos:after,
.logos2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0),#1e2326);
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    .logos:before,
    .logos:after,
    .logos2:before,
    .logos2:after {
        width: 100px; /* Reduce el ancho del gradiente en pantallas pequeñas */
    }
}

.logos2-slide {
    display: inline-block;
    animation: 30s slide2 infinite linear;
}

.logos2-slide img{
    height: 50px;
    margin: 0 40px;
}

.logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}


