:root {
    --color-primario: #038C8C; /* Código de color en formato hexadecimal */
    --font-titulo: 'Montserrat', sans-serif; /* Fuente para títulos y encabezados */
    --font-cuerpo: 'Avenir Next', sans-serif; /* Fuente para cuerpos de texto */
    --font-subtitulo: 'Poppins', sans-serif; /* Fuente para subtítulos y textos destacados */
}
.animate-on-scroll {
    opacity: 0; /* Opcional: o visibility: hidden */
}

.animate__animated {
    opacity: 1; /* Asegúrate de que la visibilidad se restaure al activar la animación */
}


* {
    box-sizing: border-box;
    font-family: var(--font-subtitulo);
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(30, 35, 38, .9), rgba(30, 35, 38, .9)),
        url(/assets/img/v627-aew-47-technologybackground.webp);
    background-size: cover;
}

html {
    /*me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}

/*MENU*/

/* Ajustes generales para el header */
.container-header {
    background: rgba(30, 35, 38, 0.2);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header {
    max-width: 1100px;
    margin: auto;
    padding: 10px 20px; /* Añade algo de padding para evitar bordes estrechos */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ajuste de tamaño y estilo del logo */
.logo-img {
    max-width: 210px; /* Limita el ancho máximo del logo */
    height: auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    margin-right: 20px; /* Añade espacio entre el logo y el menú */
}

.container-header header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-header header nav ul li a {
    color: #fff;
    margin: 0 10px; /* Reduce el margen para evitar saltos de línea */
    padding: 5px 8px;
    font-size: 1rem;
    font-family: var(--font-subtitulo);
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover {
    color: var(--color-primario);
}
.nav-responsive {
    background-color: var(--color-primario);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*SECCION DE INICIO*/

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(/assets/img/fondo.webp);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .content-banner {
    padding: 20px;
    background: rgba(37, 42, 46, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid var(--color-primario);
    max-width: 350px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 40px;
}

.inicio .content-banner img {
    padding: 20px;
    margin-top: 40px;
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 20%;
    mask-image: linear-gradient(black 50%, transparent);
    filter: drop-shadow(0 0 8px rgba(23, 90, 99, 0.8));
}

.inicio .content-banner img:hover {
    transform: scaleX(1.01) scaleY(1.01);
}

.inicio .content-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: var(--font-titulo);
}

.inicio .content-banner h2 {
    margin-top: 15px;
    font-weight: normal;
    font-family: var(--font-subtitulo);
}

.inicio .content-banner h4 {
    margin-top: 1px;
    font-weight: lighter;
    font-family: var(--font-subtitulo);
}

.inicio .content-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .content-banner .redes a:hover {
    background-color: var(--color-primario);
    transform: scaleX(1.4) scaleY(1.4);
}

/*SOBRE MI*/

.sobremi {
    background-color: #1e2326;
    color: #f2f2f2;
    padding: 50px 20px;
    box-shadow: 0px 0.5px 10px 4px #045c4a;
    
}

.sobremi .content-seccion {
    max-width: 1100px;
    margin: auto;
    
}

.sobremi h2 {
    font-size: 48px;
    font-family: var(--font-titulo);
    text-align: center;
    padding: 20px 0;
}

.sobremi .content-seccion p {
    font-size: 18px;
    font-family: var(--font-cuerpo);
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .content-seccion p span {
    color: var(--color-primario);
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegura que los contenedores estén alineados */
    gap: 20px; /* Añade un poco de espacio entre las columnas para una mejor apariencia */
}

.sobremi .fila .col {
    flex: 1;
    min-width: 200px; /* Asegura que las columnas no se reduzcan demasiado */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobremi .fila .col h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: var(--color-primario);
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: var(--color-primario);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .container-intereses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Ajusta el espacio entre los íconos */
}

.sobremi .fila .col .container-intereses .interes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sobremi .fila .col .container-intereses .interes i {
    margin-bottom: 8px; /* Añade espacio entre el icono y el texto */
}



.sobremi .fila .col .container-intereses .interes {
    flex: 1;
    min-width: 80px; /* Asegura que los íconos tengan un tamaño consistente */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252A2E;
    border-radius: 10px;
    transition: .3s;
}


.sobremi .fila .col .container-intereses .interes:hover {
    background-color: var(--color-primario);
}

.sobremi .fila .col .container-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-primario);
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* Skills Section */
.skills {
    padding: 50px 20px;
    color: #fff;
}

.skills .content-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: var(--font-titulo);
    text-align: center;
    padding: 20px 10px;
}

.skills h4 {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-weight: lighter;
    text-justify: center;
}

/* SECCION PORTFOLIO */



.glassmorphism {
    width: 100%;
    padding: 2em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


/* Iconos de Tecnologías */
.icon-tech {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 0.5em;
}

.icon-tech img {
    width: 20px;
    height: 20px;
}





/* Info Box Styles */
.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-box h3 {
    font-size: 2em;
    font-family: var(--font-titulo);
    color: var(--color-primario);
}

.info-box p {
    font-size: 1.2em;
    color: #fff;
}






/* Carousel Gradient Adjustment */
.logos:before,
.logos:after,
.logos2:before,
.logos2:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0),#1e2326);    
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0),#1e2326);    
}

.logos2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0),#1e2326);    
}

.logos2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0),#1e2326);    
}

/* Media Queries for Carousel Gradient Adjustment */
@media screen and (max-width: 768px) {
    .logos:before,
    .logos:after,
    .logos2:before,
    .logos2:after {
        width: 150px; /* Reduce the gradient width for mobile devices */
    }
}

/* Responsive Navigation Menu */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
        
    }

    nav.responsive {
        display: block;
        position:absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 100vw;
        
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        text-align: center;
    }
}

/*SECCION CONTACTO*/

.contacto{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    box-shadow: 0px 0.5px 10px 4px #045c4a;

}

.contacto .content-seccion{
    max-width:1100px;
    margin: auto;
}

.contacto h2{
    font-size: 3em;
    font-family: var(--font-titulo);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;    
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-primario);
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col iframe{
    width: 100%;

}

.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: var(--color-primario);
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;

}

footer .redes  a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes  a:hover{
    background-color: var(--color-primario);
    transform: scaleX(1.4) scaleY(1.4);
}

    footer .arriba{
        display: block;
        width: 50px;
        height: 50px;
        background-color: var(--color-primario);
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        border-radius: 50%;
        line-height: 50px;
        font-size: 18px;

    }

/* Media queries para la sección de contacto y footer */
@media screen and (max-width: 768px) {
    .contacto .fila {
        flex-direction: column;
    }

    .contacto .col {
        width: 100%;
        padding: 10px 0;
    }

    .contacto .col .info {
        position: static;
        transform: none;
        margin: 20px auto;
    }

    .contacto .col iframe {
        height: 300px;
    }

    footer .redes a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 20px 3px;
        font-size: 16px;
    }

    footer .arriba {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .inicio .content-banner h1 {
        margin-top: 10px;
        font-size: 28px;
        font-family: var(--font-titulo);
    }

    .inicio .content-banner h2 {
        margin-top: 15px;
        font-weight: normal;
        font-size: 18px;
    }
    .contacto h2 {
        font-size: 2em;
    }

    .contacto .col input, .contacto .col textarea {
        padding: 12px;
        font-size: 16px;
    }

    .contacto button {
        padding: 8px 18px;
        font-size: 14px;
    }

    footer {
        padding: 30px 0 20px 0;
    }

    footer .redes a {
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin: 15px 2px;
        font-size: 14px;
    }

   
}

